/* This concept was originally developed by redditor jamt9000 */
/* Position headline links up top, using content from the sidebar (specifically, ordered lists) */
.titlebox .usertext-body .md ol li a {
    color: white;
    font-weight: bold;
    border: 1px solid black;
    background-color: #062;
    padding: 1px 2px 2px;
    text-decoration: none;
    font-size: small;
}
.titlebox .usertext-body .md ol li a:hover { background-color: #602; } /* changes box color on mouse hover */
.titlebox form { position: static; } /* required to extract the headline links out of the sidebar */

.titlebox .usertext-body .md ol {
    list-style: none;
    position: absolute;
    z-index: 200;
    margin: 0;
    padding: 0;
    display: table;
    left: 206px;
}
.titlebox .usertext-body .md ol li {
    display: inline;
    margin: 0 3px;
}

.titlebox .usertext-body .md ol { top: 28px; } /* first row */
.titlebox .usertext-body .md ol ~ ol { top: 55px; } /* second row */

/* experimental icons
.titlebox .usertext-body .md ol li a[title^="D&D:"]:before { position: relative; top: 4px; content: url(%%frozen-pig%%); }
.titlebox .usertext-body .md ol li a[title^="Risk:"]:before { position: relative; top: 4px; content: url(%%cannon%%); }
.titlebox .usertext-body .md ol li a[title^="Coffee:"]:before { position: relative; top: 6px; content: url(%%fruit-of-life%%); }
.titlebox .usertext-body .md ol li a[title^="Beer:"]:before { position: relative; top: 6px; content: url(%%fancy-ass-beer%%); }
*/

/* this hides blockquoted text in the sidebar, which will allow us to leave invisible notes & instructions for fellow mods */
.side div blockquote { display: none; } /* note that these are still visible in the source code of the page!! */

/* replace in sidebar "1,234 readers" with "1,234 socialites", idea stolen from /r/bradford */
div.titlebox span.word { display: none }
div.titlebox span.number:after { content: " socialites" }
