/* This concept was originally developed by redditor jamt9000 */
/* this positions new tabs up top, using text from the sidebar (specifically, ordered links) */
/* CSS common to both rows of stickies */
.titlebox .usertext-body .md ol li a {
    border: 1px solid #fff;
    background-color: #7575CC;
    padding: 2px 6px 2px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
}
.titlebox .usertext-body .md ol li a:hover {
    border-color: #000000;
    background-color: #8A8A33;
}
.titlebox form {
    position: static;
}
.titlebox .usertext-body .md ol {
    list-style: none;
    position: absolute;
    z-index: 200;
    margin: 0;
    padding: 0;
    display: table;
}
.titlebox .usertext-body .md ol li {
    display: inline;
    margin: 0 3px;
}

/* Code that differs between the two rows */
.titlebox .usertext-body .md ol {
    top: 28px;
    left: 209px;
}

.titlebox .usertext-body .md ol ~ ol { /* CSS hack by ironiridis; please flog him if it's busted */
    top: 55px;
    left: 339px;
}

/* this hides blockquoted text in the sidebar, which will allow us to leave notes & instructions for fellow mods without having them appear */
.side div blockquote {
    display: none
}

/* where the number of subscribers appears in the sidebar, this replaces the default wording of "readers" to something customized, idea stolen wholesale from r/bradford */
div.titlebox span.word {
    display: none
}
div.titlebox span.number:after {
    content: " socialites"
}
